.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px; /* Cambia a 100% para que el contenedor ocupe todo el ancho disponible */
  height: 500px; /* Cambia a auto para que la altura se ajuste automáticamente para mantener el aspecto de la imagen */
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: auto; /* Cambia a auto para que la altura se ajuste automáticamente para mantener el aspecto de la imagen */
  object-fit: cover;
}

.thumbnail-images {
    max-width: 50px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
}

.thumbnail-image {
    max-width: 50px;
    max-height: 50px;
    margin: 0 10px;
}

.selected-thumbnail {
    border: 2px solid black;
    border-radius: 5px;
}

.thumbnail-images-colors {
    max-width: 50px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.price  {
    font-size: 20px !important;
    font-weight: bold !important;
}

.color-selection {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.color-option {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease;
}

.color-option:hover {
  background-color: #e0e0e0;
}

.selected-color {
  font-weight: bold;
  background-color: #838383;
}

.itemTitle {
  font-size: 25px !important;
}

.itemPrice {
  font-size: 18px !important;
  font-weight: bold !important;
  margin-top: 10px !important;
}

.color-images {
  max-width: 10px;
  max-height: 10px;
}

.shoe-sizes {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shoe-size {
  flex: 1 1 15%;
  margin: 0.3em;
  padding: 0.3em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .shoe-size {
    flex: 1 0 46%; /* En pantallas más pequeñas, solo se mostrarán 2 elementos por fila */
  }
}

@media (max-width: 480px) {
  .shoe-size {
    flex: 1 0 96%; /* En pantallas muy pequeñas, solo se mostrará 1 elemento por fila */
  }
}

.selected-size {
  color: black;
}

.unclickable {
  pointer-events: none;
  opacity: 0.4; /* Opcional: reduce la opacidad para indicar que el elemento no es clickeable */
}

.selected {
  background-color: rgb(97, 141, 97);
}