.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
  gap: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-content {
  flex-direction: column;
  text-align: left !important;
  margin-top: 30%;
  font-family: Helvetica-Neue,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;;
}