.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    margin: 15px;
    min-width: 130px;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .brand-model {
    margin: 0;
    color: #333;
    font-size: 0.9em;
    text-align: left;
    border-top: 0.3px solid #e9e9e9;
    padding-top: 10px;
  }

  .price {
    margin: 0;
    color: #000000;
    font-size: 0.7em;
    font-weight: bold;
    text-align: left;
  }


  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .item-image {
    max-width: 100%;
    height: auto;
  }


  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .middle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right-content {
    flex-direction: column;
    text-align: left !important;
    margin-top: 30%;
    font-family: Helvetica-Neue,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;;
  }

  a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.grid-container > div {
  align-self: start; /* Cambia esto según tus necesidades */
}