form-signup {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label-signup {
    margin-bottom: 10px;
    text-align: left;
  }
  
  input-signup[type="email"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button-signup {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button-signup:hover {
    background-color: #45a049;
  }